@model PasswordManagerApp.Models.CreditCard
<div>
    <h4>Credit Card</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10" style="padding-left:20%">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardHolderName)
        </dt>
        <dd class="col-sm-10" style="padding-left:20%">
            @Html.DisplayFor(model => model.CardHolderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd class="col-sm-10" style="padding-left:20%">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityCode)
        </dt>
        <dd class="col-sm-10" style="padding-left:20%">
            <div class="row no-gutters">
                <div class="col"><input type="password" disabled id="encArea" value="@Model.SecurityCode"></div>
                <div class="col" style="padding-left: 1%;padding-top:1%;"><a class="fa fa-eye" type="button" onclick="return switchVisibility();"></a></div>
            </div>

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class="col-sm-10" style="padding-left:20%">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

    </dl>

</div>



