@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PasswordManagerApp.Models.ViewModels.PassGeneratorViewModel




<form method="POST" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content" data-ajax-url="@Url.Action("PasswordGenerator","Settings")">


    <div class="form-group">
        <div>
            <label asp-for="IncludeLowercase">

                @Html.CheckBoxFor(model => model.IncludeLowercase, new { @class = "checkbox rounded" })
                <span>a-z</span>
            </label></br>
            <label asp-for="IncludeUppercase">

                @Html.CheckBoxFor(model => model.IncludeUppercase, new { @class = "checkbox rounded" })
                <span>A-Z</span>
            </label></br>
            <label asp-for="IncludeNumeric">

                @Html.CheckBoxFor(model => model.IncludeNumeric, new { @class = "checkbox rounded" })
                <span>0-9</span>
            </label></br>
            <label asp-for="IncludeSpecial">
                @Html.CheckBoxFor(model => model.IncludeSpecial, new { @class = "checkbox rounded" })
                <span>/*#$*!/...</span>
            </label></br>
            <label asp-for="Length"></label>
            <input type="number" asp-for="Length"  min="8" max="128" />
            <input name="passGenerator" type="submit" formaction="PasswordGenerator" formmethod="post" class="js-textareacopybtn" value="Generate password" />




        </div>

    </div>

</form>

<textarea>@ViewBag.Password</textarea></br>













