
@using PasswordManagerApp.Models
@model PwnedExpiredViewModel

@{
    ViewData["Title"] = "ListPwnedExpired";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var encryptedFieldsLogB = ViewBag.encryptedIdsLogBreached as Dictionary<int, string>;
    var encryptedFieldsLogE = ViewBag.encryptedIdsLogExpired as Dictionary<int, string>;
    var encryptedFieldsPayB = ViewBag.encryptedIdsPayBreached as Dictionary<int, string>;
    var encryptedFieldsPayE = ViewBag.encryptedIdsPayExpired as Dictionary<int, string>;
}



<article class="content items-list-page">
    <div class="title-search-block " style=" margin-right:5%;">
        <div class="items-search">
            <form class="form-inline" asp-action="Index" asp-controller="PwnedExpired" method="get">
                <div class="input-group">

                    <span class="input-group-btn">
                        <input type="text" class="form-control boxed rounded-s" name="searchString" placeholder="Search for...">

                        <button class="btn btn-secondary rounded-s" asp-action="Index" asp-controller="PwnedExpired">
                            <i class="fa fa-backward"></i>
                        </button>
                        <button class="btn btn-secondary rounded-s" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- Details -->
    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenter" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a value=""></a>



                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="content"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="card items" style="width:45%; margin-right:5%; margin-top:60px; float:left;">

        <div class="header-block header-block-buttons">
            <h3>
                Breached data

        </div> </h3>
        <ul class="item-list striped">
            <li class="item item-list-header">

                <div class="item-row">


                    <div class="item-col item-col-header item-col-title">
                        <div>
                            <span>Name</span>
                        </div>
                    </div>



                    <div class="item-col item-col-header fixed item-col-actions-dropdown">
                    </div>
                </div>
            </li>
            @foreach (var item in Model.LoginDatasBreached)
            {



                <li class="item">
                    <div class="item-row">

                        <div class="item-col item-col-category no-overflow">
                            <div class="item-heading">Name</div>
                            <div>



                                <a class="item-title" data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#content"
                                   data-ajax-url="@Url.Action("GetLoginDataById","LoginData",new { encrypted_id = @encryptedFieldsLogB[item.Id] })"
                                   data-toggle="modal" data-target="#modalCenter">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </div>
                        </div>


                        <div class="item-col fixed item-col-actions-dropdown">
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                    <span class="inactive">
                                        <i class="fa fa-cog"></i>
                                    </span>
                                    <span class="active">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">
                                        <li>

                                            <a class="fa fa-info-circle"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-mode="replace"
                                               data-ajax-update="#content"
                                               data-ajax-url="@Url.Action("GetLoginDataById","LoginData",new { encrypted_id = @encryptedFieldsLogB[item.Id] })"
                                               data-toggle="modal" data-target="#modalCenter">
                                            </a>
                                        </li>

                                        <li>
                                            <a class="fa fa-pencil-square-o"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-mode="replace"
                                               data-ajax-complete="renewLoginDataValidation();"
                                               data-ajax-update="#content"
                                               data-ajax-url="@Url.Action("AddOrEditLoginData","LoginData",new { encrypted_id=@encryptedFieldsLogB[item.Id]} )"
                                               data-toggle="modal" data-target="#modalCenter"></a>
                                        </li>
                                        <li>
                                            <a class="fa fa-trash-o" style="color:gray;" href="javascript:confirmDelete('@encryptedFieldsLogB[item.Id]','logindata')"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            }
            @foreach (var item in Model.PaypalAccountsBreached)
            {



                <li class="item">
                    <div class="item-row">

                        <div class="item-col item-col-category no-overflow">
                            <div class="item-heading">Name</div>
                            <div>



                                <a class="item-title" data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#content"
                                   data-ajax-url="@Url.Action("GetPaypalById","Payments",new { encrypted_id = @encryptedFieldsPayB[item.Id] })"
                                   data-toggle="modal" data-target="#modalCenter">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </div>
                        </div>


                        <div class="item-col fixed item-col-actions-dropdown">
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                    <span class="inactive">
                                        <i class="fa fa-cog"></i>
                                    </span>
                                    <span class="active">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">
                                        <li>

                                            <a class="fa fa-info-circle"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-mode="replace"
                                               data-ajax-update="#content"
                                               data-ajax-url="@Url.Action("GetPaypalById","Payments",new { encrypted_id = @encryptedFieldsPayB[item.Id] })"
                                               data-toggle="modal" data-target="#modalCenter">
                                            </a>
                                        </li>

                                        <li>
                                            <a class="fa fa-pencil-square-o"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-mode="replace"
                                               data-ajax-complete="renewPaypalValidation();"
                                               data-ajax-update="#content"
                                               data-ajax-url="@Url.Action("AddOrEditPayPal","Payments",new { encrypted_id=@encryptedFieldsPayB[item.Id]} )"
                                               data-toggle="modal" data-target="#modalCenter"></a>
                                        </li>
                                        <li>
                                            <a class="fa fa-trash-o" style="color:gray;" href="javascript:confirmDelete('@encryptedFieldsPayB[item.Id]','paypal')"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            }
        </ul>

    </div>


    <div class="card items" style="width:45%; margin-top:60px; float:left ;">
        <div class="header-block header-block-buttons">
            <h3>
                Expired

            </h3>
        </div>


        <ul class="item-list striped">
            <li class="item item-list-header">

                <div class="item-row">


                    <div class="item-col item-col-header item-col-title">
                        <div>
                            <span>Name</span>
                        </div>
                    </div>



                    <div class="item-col item-col-header fixed item-col-actions-dropdown">
                    </div>

                </div>
            </li>
            @foreach (var item in Model.LoginDatasExpired)
            {



                <li class="item">
                    <div class="item-row">

                        <div class="item-col item-col-category no-overflow">
                            <div class="item-heading">Name</div>
                            <div>



                                <a class="item-title" data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#content"
                                   data-ajax-url="@Url.Action("GetLoginDataById","LoginData",new { encrypted_id = @encryptedFieldsLogE[item.Id] })"
                                   data-toggle="modal" data-target="#modalCenter">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </div>
                        </div>


                        <div class="item-col fixed item-col-actions-dropdown">
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                    <span class="inactive">
                                        <i class="fa fa-cog"></i>
                                    </span>
                                    <span class="active">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">

                                        <li>
                                            <a class="fa fa-info-circle"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-mode="replace"
                                               data-ajax-update="#content"
                                               data-ajax-url="@Url.Action("GetLoginDataById","LoginData",new { encrypted_id = @encryptedFieldsLogE[item.Id] })"
                                               data-toggle="modal" data-target="#modalCenter">
                                            </a>
                                        </li>

                                        <li>

                                            <a class="fa fa-pencil-square-o"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-mode="replace"
                                               data-ajax-complete="renewLoginDataValidation();"
                                               data-ajax-update="#content"
                                               data-ajax-url="@Url.Action("AddOrEditLoginData","LoginData",new { encrypted_id=@encryptedFieldsLogE[item.Id]} )"
                                               data-toggle="modal" data-target="#modalCenter"></a>


                                        </li>
                                        <li>
                                            <a class="fa fa-trash-o" style="color:gray;" href="javascript:confirmDelete('@encryptedFieldsLogE[item.Id]','logindata')"></a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            }
            @foreach (var item in Model.PaypalAccountsExpired)
            {



                <li class="item">
                    <div class="item-row">

                        <div class="item-col item-col-category no-overflow">
                            <div class="item-heading">Name</div>
                            <div>



                                <a class="item-title" data-ajax="true"
                                   data-ajax-method="GET"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#content"
                                   data-ajax-url="@Url.Action("GetPaypalById","Payments",new { encrypted_id = @encryptedFieldsPayE[item.Id] })"
                                   data-toggle="modal" data-target="#modalCenter">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </div>
                        </div>


                        <div class="item-col fixed item-col-actions-dropdown">
                            <div class="item-actions-dropdown">
                                <a class="item-actions-toggle-btn">
                                    <span class="inactive">
                                        <i class="fa fa-cog"></i>
                                    </span>
                                    <span class="active">
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </span>
                                </a>
                                <div class="item-actions-block">
                                    <ul class="item-actions-list">
                                        <li>

                                            <a class="fa fa-info-circle"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-mode="replace"
                                               data-ajax-update="#content"
                                               data-ajax-url="@Url.Action("GetPaypalById","Payments",new { encrypted_id = @encryptedFieldsPayE[item.Id] })"
                                               data-toggle="modal" data-target="#modalCenter">
                                            </a>
                                        </li>

                                        <li>
                                            <a class="fa fa-pencil-square-o"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               data-ajax-mode="replace"
                                               data-ajax-complete="renewPaypalValidation();"
                                               data-ajax-update="#content"
                                               data-ajax-url="@Url.Action("AddOrEditPayPal","Payments",new { encrypted_id=@encryptedFieldsPayE[item.Id]} )"
                                               data-toggle="modal" data-target="#modalCenter"></a>
                                        </li>
                                        <li>
                                            <a class="fa fa-trash-o" style="color:gray;" href="javascript:confirmDelete('@encryptedFieldsPayE[item.Id]','paypal')"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            }
        </ul>

    </div>
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteLabel">Deleting</h4>
                </div>
                <div class="modal-body">
                    <p>You have selected to delete this data.</p>
                    <p>
                        If this was the action that you wanted to do,
                        please confirm your choice, or cancel and return
                        to the page.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteConfirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</article>

@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

        function renewLoginDataValidation() {


            // Remove validation.
            $(".loginDataForm").removeData("validator").removeData("unobtrusiveValidation");

            // Add validation again.
            $.validator.unobtrusive.parse(".loginDataForm");


            $("#encArea").on('change keypress paste input', function (e) {

                $("#resultArea").text(' ');
            });
        }
        function renewPaypalValidation() {


            // Remove validation.
            $(".paypalForm").removeData("validator").removeData("unobtrusiveValidation");

            // Add validation again.
            $.validator.unobtrusive.parse(".paypalForm");


            $("#encArea").on('change keypress paste input', function (e) {

                $("#resultArea").text(' ');
            });





        }







        function switchVisibility() {
            const passwordField = document.querySelector('#encArea')
            if (passwordField.getAttribute('type') === 'password') passwordField.setAttribute('type', 'text')
            else passwordField.setAttribute('type', 'password')
        }

        function ajaxPasswordCall() {

            $.ajax({
                url: "/settings/passwordgeneratequick",
                type: "get",
                data: {

                },
                success: function (response) {
                    $("#encArea").val(response);
                },

            });

        }



        function ajaxHibpCall() {

            $.ajax({
                url: "/settings/hibpcheck",
                type: "post",
                data: {
                    password: $("#encArea").val()
                },
                success: function (response) {
                    $("#resultArea").text(response);
                    $('#resultArea').fadeOut('slow');
                    $('#resultArea').fadeIn('slow');
                },

            });

        }




    </script>



}



