

@model IEnumerable<PasswordManagerApp.Models.Address>

@{
    ViewData["Title"] = "ListAddress";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

    var encryptedFields = ViewBag.EncryptedIds as Dictionary<int, string>;
}



<article class="content items-list-page">
    <div class="title-search-block">
        <div class="items-search">
            <form class="form-inline" asp-action="List" asp-controller="LoginData" method="get">
                <div class="input-group">

                    <span class="input-group-btn">
                        <input type="text" class="form-control boxed rounded-s" name="searchString" placeholder="Search for...">

                        <button class="btn btn-secondary rounded-s" asp-action="List">
                            <i class="fa fa-backward"></i>
                        </button>
                        <button class="btn btn-secondary rounded-s" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div>
        <h3 class="title">
            Addressess
            <a class="btn btn-primary btn-sm rounded-s"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-complete="renewAddressValidation();"
               data-ajax-update="#content"
               data-ajax-url="@Url.Action("AddOrEditAddress","Address")"
               data-toggle="modal" data-target="#modalCenter"> Add New </a>

        </h3>
        <!-- Modal -->
        <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">

                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="content"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12" id="content">

        </div>
        <div class="card items" style="margin-top:20px;">

            <ul class="item-list striped table-striped w-auto">
                <li class="item item-list-header">

                    <div class="item-row">

                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>@Html.DisplayNameFor(model => model.AddressName)</span>

                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>@Html.DisplayNameFor(model => model.City)</span>

                            </div>
                        </div>

                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>@Html.DisplayNameFor(model => model.ZipCode)</span>

                            </div>
                        </div>
                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>@Html.DisplayNameFor(model => model.Street)</span>

                            </div>
                        </div>

                        <div class="item-col item-col-header item-col-title">
                            <div>
                                <span>Number</span>

                            </div>
                        </div>


                        <div class="css-flex-table-header">
                            <div class="item-col item-col-header fixed item-col-actions-dropdown">
                            </div>
                        </div>
                    </div>
                </li>
                @foreach (var item in Model)
                {



                    <li class="item">
                        <div class="item-row">


                            <div class="item-col fixed pull-left item-col-title">
                                <div class="item-heading">@Html.DisplayNameFor(model => model.AddressName)</div>
                                <div>
                                    <a href="#" class="">
                                        <h4 class="item-title"> @Html.DisplayFor(modelItem => item.AddressName)</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="item-col fixed pull-left item-col-title">
                                <div class="item-heading">@Html.DisplayNameFor(model => model.City)</div>
                                <div>
                                    <a href="#" class="">
                                        <h4 class="item-title"> @Html.DisplayFor(modelItem => item.City)</h4>
                                    </a>
                                </div>
                            </div>

                            <div class="item-col fixed pull-left item-col-title">
                                <div class="item-heading">@Html.DisplayNameFor(model => model.ZipCode)</div>
                                <div>
                                    <a href="#" class="">
                                        <h4 class="item-title"> @Html.DisplayFor(modelItem => item.ZipCode) </h4>
                                    </a>
                                </div>
                            </div>

                            <div class="item-col fixed pull-left item-col-title">
                                <div class="item-heading">@Html.DisplayNameFor(model => model.Street)</div>
                                <div>
                                    <a href="#" class="">
                                        <h4 class="item-title"> @Html.DisplayFor(modelItem => item.Street) </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="item-col fixed pull-left item-col-title">
                                <div class="item-heading">Street number</div>
                                <div>
                                    <a href="#" class="">
                                        <h4 class="item-title"> @Html.DisplayFor(modelItem => item.StreetNumber) </h4>
                                    </a>
                                </div>
                            </div>




                            <div class="item-col fixed item-col-actions-dropdown">
                                <div class="item-actions-dropdown">
                                    <a class="item-actions-toggle-btn">
                                        <span class="inactive">
                                            <i class="fa fa-cog"></i>
                                        </span>
                                        <span class="active">
                                            <i class="fa fa-chevron-circle-right"></i>
                                        </span>
                                    </a>
                                    <div class="item-actions-block">
                                        <ul class="item-actions-list">
                                            @if ((encryptedFields.Count > 0))
                                            {
                                                <li>
                                                    <a class="fa fa-info-circle"
                                                       data-ajax="true"
                                                       data-ajax-method="GET"
                                                       data-ajax-mode="replace"
                                                       data-ajax-update="#content"
                                                       data-ajax-url="@Url.Action("GetAddressById","Address",new { encrypted_id = @encryptedFields[item.Id] })"
                                                       data-toggle="modal" data-target="#modalCenter">
                                                    </a>
                                                </li>
                                                <li>

                                                    <a class="fa fa-pencil-square-o"
                                                       data-ajax="true"
                                                       data-ajax-method="GET"
                                                       data-ajax-mode="replace"
                                                       data-ajax-complete="renewAddressValidation();"
                                                       data-ajax-update="#content"
                                                       data-ajax-url="@Url.Action("AddOrEditAddress","Address",new { encrypted_id=@encryptedFields[item.Id]} )"
                                                       data-toggle="modal" data-target="#modalCenter"></a>


                                                </li>
                                                <li>
                                                    <a class="fa fa-trash-o" style="color:gray;" href="javascript:confirmDelete('@encryptedFields[item.Id]','address')"></a>
                                                </li>


                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                }
            </ul>

        </div>

    </div>




    <button id="cancelButton" class="btn btn-block btn-primary btn-sm rounded-s">Cancel </button>
   
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteLabel">Deleting</h4>
                </div>
                <div class="modal-body">
                    <p>You have selected to delete this data.</p>
                    <p>
                        If this was the action that you wanted to do,
                        please confirm your choice, or cancel and return
                        to the page.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="deleteConfirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</article>

@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script>

        $('#cancelButton').click(function () {
        document.location = '@Url.Action("Personal","Personal")';
    });
        function renewAddressValidation() {


            // Remove validation.
            $(".addressForm").removeData("validator").removeData("unobtrusiveValidation");

            // Add validation again.
            $.validator.unobtrusive.parse(".addressForm");


        }
        function renewPhoneValidation() {


            // Remove validation.
            $(".phoneForm").removeData("validator").removeData("unobtrusiveValidation");

            // Add validation again.
            $.validator.unobtrusive.parse(".phoneForm");






        }







        function switchVisibility() {
            const passwordField = document.querySelector('#encArea')
            if (passwordField.getAttribute('type') === 'password') passwordField.setAttribute('type', 'text')
            else passwordField.setAttribute('type', 'password')
        }

        function ajaxPasswordCall() {

            $.ajax({
                url: "/settings/passwordgeneratequick",
                type: "get",
                data: {

                },
                success: function (response) {
                    $("#encArea").val(response);
                },

            });

        }



        function ajaxHibpCall() {

            $.ajax({
                url: "/settings/hibpcheck",
                type: "post",
                data: {
                    password: $("#encArea").val()
                },
                success: function (response) {
                    $("#resultArea").text(response);
                    $('#resultArea').fadeOut('slow');
                    $('#resultArea').fadeIn('slow');
                },

            });

        }




</script>



}



