

@model IEnumerable<PasswordManagerApp.Models.Note>

@{
    ViewData["Title"] = "ListNote";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";

    var encryptedFields = ViewBag.EncryptedIds as Dictionary<int, string>;
}
<h1>ListNote</h1>

<article class="content items-list-page">

    <div>
        <h3 class="title">
            Notes
            <a class="btn btn-primary btn-sm rounded-s"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-mode="replace"
               data-ajax-complete="settingsFadeIn(); renewNoteValidation();"
               data-ajax-update="#content"
               data-ajax-url="@Url.Action("AddOrEditNote","Note")"
               data-toggle="modal" data-target="#modalCenter"> Add New </a>

           
            

        </h3>
        <!-- Modal -->
        <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="content"></div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="card items">

            <ul class="item-list striped">
                <li class="item item-list-header">

                    <div class="item-row">


                        <div class="item-col item-col-header fa-align-right item-col-sales">
                            <div>
                                <span>@Html.DisplayNameFor(model => model.Name)</span>
                            </div>
                        </div>
                        <div class="item-col item-col-header fa-algin-right item-col-sales">
                            <div>
                                <span>@Html.DisplayNameFor(model => model.Details)</span>
                            </div>
                        </div>




                        <div class="item-col item-col-header fixed item-col-actions-dropdown">
                        </div>
                    </div>
                </li>



                @foreach (var item in Model)
                {



                    <li class="item">
                        <div class="item-row">

                            <div class="item-col item-col-category no-overflow">
                                <div class="item-heading">name</div>
                                <div class="no-overflow">
                                    <a href="">@Html.DisplayFor(modelItem => item.Name)</a>
                                </div>
                            </div>
                            <div class="item-col item-col-category no-overflow">
                                <div class="item-heading">Password</div>
                                <div>
                                    <a href="">@Html.DisplayFor(modelItem => item.Details)</a>

                                    <a class="btn btn-primary btn-sm rounded-s"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       data-ajax-mode="replace"
                                       data-ajax-complete="settingsFadeIn(); renewNoteValidation();"
                                       data-ajax-update="#content"
                                       data-ajax-url="@Url.Action("AddOrEditNote","Note", new { encrypted_id = @encryptedFields[item.Id] })"
                                       data-toggle="modal" data-target="#modalCenter"> Edit </a>

                                    <form asp-controller="Note" asp-action="DeleteNote" asp-route-encrypted_id="@encryptedFields[item.Id]">
                                        <input type="submit" value="Delete" />
                                    </form>
                                    <a class="btn btn-primary btn-sm rounded-s"
                                       data-ajax="true"
                                       data-ajax-method="GET"
                                       data-ajax-mode="replace"
                                       data-ajax-complete="settingsFadeIn();"
                                       data-ajax-update="#content"
                                       data-ajax-url="@Url.Action("GetNoteById","Note",new { encrypted_id = @encryptedFields[item.Id] })"
                                       data-toggle="modal" data-target="#modalCenter"> Details </a>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <a>


                                    </a>
                                    <div>
                                        <ul>
                                            @if (!(encryptedFields.Count > 0))
                                            {




                                                <li>

                                                    <a asp-action="AddOrEditNote" asp-route-encrypted_id="@encryptedFields[item.Id]">Edit</a>
                                                </li>
                                                <li>
                                                    <a asp-action="DeleteNote" asp-route-encrypted_id="@encryptedFields[item.Id]">
                                                        Delete
                                                    </a>
                                                </li>

                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                }

            </ul>

        </div>

    </div>
</article>



@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

       

        function switchVisibility()
        {
            const passwordField = document.querySelector('#encArea')
            if (passwordField.getAttribute('type') === 'password') passwordField.setAttribute('type', 'text')
            else passwordField.setAttribute('type', 'password')
        }

        function settingsFadeIn() {

            if ($('#content').length) {
                $('#content').fadeOut('slow');
                $('#content').fadeIn('slow');

            }


        }
        
        function renewNoteValidation() {


            // Remove validation.
            $(".noteForm").removeData("validator").removeData("unobtrusiveValidation");

            // Add validation again.
            $.validator.unobtrusive.parse(".noteForm");


        }

       



    </script>



}